<!DOCTYPE html>
<html>
  <head>
    <title>UrbanTalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css" rel="stylesheet" />

    <style>
      html{
        font-family:century gothic
      }
      .submit-button hover{
        background:'rgb(54, 132, 56)'
      }
    </style>
  </head>
  <body>
    <div id="application">
      <div class="loading">
        Loading…
      </div>
    </div>
  </body>
  <script src="/client.js"></script>
</html>